
<button type="submit"  class="btn btn-primary">Class B</button>
<div class="col-sm-6">
    <div class="container">
      <form class="form-horizontal" >
        <div class="form-group">
          <label class="control-label col-sm-2" for="fullname">Full Name:</label>
          <div class="col-sm-4">
            <input
                type="text"
                class="form-control" id="fullname" placeholder="Enter Full Name" ngModel name="fullname" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="lastname">Last Name:</label>
          <div class="col-sm-4">
            <input
                type="text" class="form-control" id="lastname" placeholder="Enter Last Name" ngModel name="lastname" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="division">Division:</label>
          <div class="col-sm-4">
            <input
                type="text" class="form-control" id="division" placeholder="Enter Division" ngModel name="division" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit"   class="btn btn-default">Submit</button>
          </div>
  
        </div>
      </form>
      
    </div>
    </div>

